</tbody>
</table>
</div>

<div class="container">
	<form class="form-inline" role="form" action="deleteflight"
		method="post">
		<div class="form-group">
			<label for="delete">Delete flight:</label> <input type="text"
				class="form-control" name="deletionFlight"
				placeholder="Enter flight for delete">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
<br>
<br>
<div class="fwrap">
	<div class="fleft">
		<h4>Add Flight</h4>
		<form action="addflight" method="post">
			<label for="Airplane Type">Airplane Type</label> <br> <input
				type="text" name="airplaneType" required> <br> <label
				for="Departure City">Departure City</label> <br> <input
				type="text" name="departureCity" required> <br> <label
				for="Departure Date">Departure Date</label> <br> <input
				type="text" name="departureDate" placeholder="dd.mm.yyyy" required>
			<br> <label for="Departure Hour">Departure Hour</label> <br>
			<input type="text" name="departureHour" placeholder="hh:mm" required>
			<br> <label for="Arriving City">Arriving City</label> <br>
			<input type="text" name="arrivingCity" required> <br> <label
				for="Arriving Date">Arriving Date</label> <br> <input
				type="text" name="arrivingDate" placeholder="dd.mm.yyyy" required>
			<br> <label for="Arriving Hour">Arriving Hour</label> <br>
			<input type="text" name="arrivingHour" placeholder="hh:mm" required>
			<br>
			<button type="submit" class="btn btn-primary">Add</button>
		</form>

	</div>


	<div class="fright">
		<h4>Update flight</h4>
		<form action="updateflight" method="post">
			<label for="Airplane Type">Flight Number</label> <br> <input
				type="text" name="airplaneFlight" > <br> <label
				for="Airplane Type">Airplane Type</label> <br> <input
				type="text" name="airplaneType" > <br> <label
				for="Departure City">Departure City</label> <br> <input
				type="text" name="departureCity" > <br> <label
				for="Departure Date">Departure Date</label> <br> <input
				type="text" name="departureDate" placeholder="dd.mm.yyyy" >
			<br> <label for="Departure Hour">Departure Hour</label> <br>
			<input type="text" name="departureHour" placeholder="hh:mm" >
			<br> <label for="Arriving City">Arriving City</label> <br>
			<input type="text" name="arrivingCity" > <br> <label
				for="Arriving Date">Arriving Date</label> <br> <input
				type="text" name="arrivingDate" placeholder="dd.mm.yyyy" >
			<br> <label for="Arriving Hour">Arriving Hour</label> <br>
			<input type="text" name="arrivingHour" placeholder="hh:mm" >
			<br>
			<button type="submit" class="btn btn-primary">Update</button>
		</form>
	</div>

</div>
</body>
</html>