</tbody>
</table>
<br>
<br>
</div>
<div class="container">
	<h2>Query city for time</h2>
	<form class="form-horizontal" role="form" action="gettime" method="get">
		<div class="form-group">
			<label class="control-label col-sm-2" for="email">City:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="city"
					placeholder="Enter city">
			</div>
		</div>
		<div class="form-group" align="center">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</div>
	</form>
</div>
<br>
<br>
<h3> Your selected city is 